@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./reset.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.web-layout {
  width: 1280px;
  padding-inline: 40px;
}
.auth-layout {
}

@media screen and (max-width: 1280px) {
  .web-layout {
    width: 100%;
    padding-inline: 40px;
  }
}

@media screen and (max-width: 768px) {
  .web-layout {
    padding-inline: 20px;
  }
}
